<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hanna</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{nav}}
    <main>
        <section class="hero">
            <div class="hero-title">
                Where<br>
                ideas and<br>
                vibes meet
            </div>
            <hr class="soft-divider">
            <div class="hero-desc">
                I'm Hanna, a vibe coder based in New York. When I'm not selling enterprise software, I'm eating my way through the city, traveling or playing around with AI. This site is a collection of my silly projects and thoughts. <br><br><br> Hope you enjoy!
            </div>
        </section>
        
    </main>
    {{footer}}
</body>
</html> 